@font-face {
  font-family: 'iconfont';  /* project id 1277298 */
  src: url('//at.alicdn.com/t/font_1277298_ww83xppyva.eot');
  src: url('//at.alicdn.com/t/font_1277298_ww83xppyva.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1277298_ww83xppyva.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1277298_ww83xppyva.woff') format('woff'),
  url('//at.alicdn.com/t/font_1277298_ww83xppyva.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1277298_ww83xppyva.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjiantou:before {
  content: "\e64a";
}

.iconlocation:before {
  content: "\e63c";
}

